<h1>New Vehicle</h1>
<p>
  {{vehicle | json}}
</p>
<form (ngSubmit)="submit()" novalidate>

    <div class="form-group">
        <label for="make">Select list:</label>
            <select class="form-control" id="make" name="makeId" (change)= "onMakeChange()" [(ngModel)]="vehicle.makeId" required #make='ngModel'>
              <option value=""></option>
              <option value="{{make.id}}" *ngFor="let make of makes">{{make.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="make.touched && !make.valid">
              Please specify the make
            </div>
    </div>

    <div class="form-group">
        <label for="model">Model</label>
            <select class="form-control" id="model" name="modelId" [(ngModel)]="vehicle.modelId" required #model='ngModel'>
              <option value=""></option>
              <option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
              Please specify the model
            </div>
    </div>

    <p>Is this vechile registered?</p>
    <div class="radio">
      <label for="registered"><input type="radio" [value]="true" id="registered" name="isRegistered" [(ngModel)]="vehicle.isRegistered"> Yes</label>
    </div>

    <div for="notRegistered" class="radio">
      <label><input type="radio" [value]="false" id="notRegistered" name="isRegistered" [(ngModel)]="vehicle.isRegistered"> No</label>
    </div>

    <h2>Features</h2>

    <div class="checkbox" *ngFor="let f of features" (change) = "onFeatureToggle(f.id,$event)" >
      <label for="feature{{f.id}}"><input type="checkbox" value="" id="feature{{f.id}}" [checked]="vehicle.features.includes(f.id)">{{f.name}}</label>
    </div>

    <h2>Contact</h2>

   <div class="form-group">
  <label for="contactName">Name:</label>
  <input type="text" class="form-control" id="contactName" [(ngModel)]="vehicle.contact.name" name="contactName" #name ='ngModel' required>
  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
    Please specify the name
  </div>
  </div>

  <div class="form-group">
    <label for="contactPhone">Phone:</label>
    <input type="text" class="form-control" id="contactPhone" [(ngModel)]="vehicle.contact.phone" name="contactPhone" #phone ='ngModel' required>
    <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
      Please specify the phone
    </div>
    </div>

    <div class="form-group">
      <label for="contactEmail">Email:</label>
      <input type="text" class="form-control" id="contactEmail" [(ngModel)]="vehicle.contact.email" name="contactEmail" #email ='ngModel' required>
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        Please specify the email
      </div>
      </div>
      
    <button class="btn btn-primary" type="submit">Save</button>
    <button *ngIf="vehicle.id" type="button" class="btn btn-danger" (click)="delete()">Delete</button>

 </form>